# Fichiers compilés Python
*.pyc
*.pyo
__pycache__/

# Environnements virtuels
venv/
env/

# Artefacts de build
build/
dist/

# Fichiers de configuration locaux
*.env
*.json
# Fichiers spécifiques à l'IDE
*.idea/
*.vscode/

# Autres fichiers ou dossiers à ignorer
gestion-des-utilisateurs/bin/
gestion-des-utilisateurs/code/__pycache__/
gestion-des-utilisateurs/code/logs.txt
gestion-des-utilisateurs/note.txt
gestion-des-utilisateurs/code/user.json
gestion-des-utilisateurs/code/permission.json