<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Projet {{ projets.nom }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container-fluid p-5 bg-success text-warning text-center">
    <h1>Projet : {{ projets.nom }}</h1>

  </div>
  <br>

  <div class="container bg-light">
    <h1>Projet n°{{ projets.id }} : {{ projets.nom }}</h1>
    <h2>Description :</h2>
    <p>{{ projets.description }}</p> 
    <br>
    <h2>Télécharger le rapport :</h2>
    <td><a href="/rapport/{{projets.id}}" class="btn btn-info">Rapport {{ projets.id }}</a></td>
    <br>
    <br>
    <h2>Télécharger les SBOM :</h2>
    <td><a href="/sbom/{{projets.id}}" class="btn btn-info">SBOM {{ projets.id }}</a></td>
    <br>
    <br>
    <h2>Télécharger le rapport de vulnérabilité :</h2>
    <a href="/vulne/{{ projets.id }}" class="btn btn-info" download="Vulné_Projet_{{ projets.id }}.json">Lien du téléchargement du Raport de vulnérabilité {{ projets.id }}</a>
    <br>
    <br>

    {%if perm.write%}
    <h2>Mettre à jour le projet :</h2>
    <form method="POST" action="/projet/update">
        <div class="mb-3 mt-3">
          <label class="form-label">Nom du projet:</label>
          <input class="form-control" name="name" required>
        </div>
        <input type="hidden" name="id" value="{{ projets.id }}">
        <label for="comment">Description:</label>
        <textarea class="form-control" rows="5" name="description" required></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Mettre a jour et revenir à la page d'acceuil</button>
      </form>
      {% endif %}
      <br>
      {% if perm.admin %}
      <a class="nav-link" href="/projet/delete/{{ projets.id }}">
        <button type="button" class="btn btn-danger">Supprimer</button>
      </a>
      <br>
          <h2>Ajouter un utilisateur :</h2>
          <form method="POST" action="/projet/projet/adduser">
            <div class="mb-3 mt-3">
                <label class="form-label">Mail de l'utilisateur :</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <input type="hidden" name="id" value="{{ projets.id }}">
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="permissions" value="read" id="lecture">
                <label class="form-check-label" for="lecture">Lecture</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="permissions" value="write" id="ecriture">
                <label class="form-check-label" for="ecriture">Écriture</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="permissions" value="admin" id="admin">
                <label class="form-check-label" for="admin">Admin</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Ajouter un utilisateur</button>
        </form>
      <br>        
    {% endif %}
    <a class="nav-link" href="/homepage"><button type="button" class="btn btn-warning">Retour à la page d'accueil</button></a>
  </div>

</body>
</html>
