<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Rapport de {{ prj.nom }}</title>

</head>
<body>

    <h1>{{ prj.nom }}</h1>

    <h2>Description :</h2>
    <p>{{ prj.description }}</p>

    <h2>Version : {{ sbom.version }}</h2>

    <h2>dépendance :</h2>
    {% for v in vul %}
    <p>Package : {{ v.PkgName }}</p>
    <p>Version Installée : {{ v.InstalledVersion }}</p>
    <p>Gravité : {{ v.Severity }}</p>
    <p>Nom : {{ v.Title }}</p>
    <p>Description : {{ v.Description }}</p>
    <p style="margin-bottom: 10px;">Version Fixée : {{ v.FixedVersion }}</p>
    {% endfor %}
</body>
</html>
